body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    background-image: url("/img/ivrea.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 110%;
    background-color: black;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
}

.Ivrea-Icon {
    width: 85px;
    height: 85px;
}
.subTitle {
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
.description {
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
.jumbotron {
    background-image: url("/img/ivrea.jpg");
    background-size: 150%;
}
.title {
    font-size: 50px;
    font-style: italic;
    font-family: 'Pangolin', cursive;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: right;
    font-family: 'Pangolin', cursive;
    font-size: 22px;
}
@keyframes rgb {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
}
.details-link{
    float: right;
    animation-name: rgb;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}
.container2 {
    padding: 100px;
    background-color: #e9ecef;
    color: #333;
    margin-bottom: 0;
    text-align: center;
}

.section {
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 40px;
}
.section-1 {
    background-image: url("/img/ivrea1.webp");
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.section-2 {
    background-image: url("/img/storia.avif");
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.section-3 {
    background-image: url("/img/arduino.png");
    background-size: contain;
    background-size: 50%;
    background-position-y: 88%;
    background-position-x: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.section-title {
    color:blanchedalmond;
    margin-bottom: 30px;
    font-size: auto;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.section p {
    color:white;
    font-size: 30px;
    line-height: 1.5;
    font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
}

.closing-section {
    background-color: #343a40;
    height: 20px;
}

.github-section {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.info-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-section {
    margin-right: 20px;
    float: center;
}

.name-section h3 {
    font-size: 20px;
    float: center;
    font-family: 'Pangolin', cursive;
}

.spacer {
    height: 20px;
}